table[data-wc-basket-items-container] td {
    border: 1px solid
}

table[data-wc-basket-items-container] td img.detail-picture {
    width: 100px;
    height: 100px;
}

table[data-wc-basket-items-container] table td {
    border: none
}

table[data-wc-basket-items-container] td[data-action-basket-item] {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

table[data-wc-basket-items-container] div.line-through {
    text-decoration: line-through;
}

table[data-wc-basket-items-container] tr.restore-button td {
    text-align: center;
    cursor: pointer;
}

table[data-wc-basket-items-container] tr.disabled {
    pointer-events: none;
    opacity: .5;
}

table[data-wc-basket-items-container] tr.hide {
    display: none;
}