table#wc-basket-items-container td {
    border: 1px solid
}

table#wc-basket-items-container td img.detail-picture {
    width: 100px;
    height: 100px;
}

table#wc-basket-items-container table td {
    border: none
}

table#wc-basket-items-container td[data-action-basket-item] {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

table#wc-basket-items-container div.line-through {
    text-decoration: line-through;
}

table#wc-basket-items-container tr.disabled {
    pointer-events: none;
    opacity: .5;
}

table#wc-basket-items-container td.hide {
    display: none;
}

table#wc-basket-items-container tr td.restore-button {
    text-align: center;
    cursor: pointer;
}
